/**
 * Copyright
 */

@import '../../components/variables.css';

.container {
  position: relative;
  max-width: 75rem;
  margin: 0 auto;
}

.container::before,
.container::after {
  content: '';
  display: table;
  clear: both;
}

/*
 * Responsive
 * ========================================================================== */

/* phone [min ~ 480px) */
.aside {
  box-sizing: border-box;
}

.main {
  box-sizing: border-box;
  background-color: #fafefe;
}

/* pad [480px ~ 768px) */
@media screen and (--viewport-xs) {
  .aside {
    box-sizing: border-box;
  }

  .main {
    box-sizing: border-box;
  }
}

/* x-pad [768px ~ 1024px) */
@media screen and (--viewport-sm) {
  .aside {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 16.75rem;
  }

  .main {
    box-sizing: border-box;
    margin-left: 16.75rem;
    float: left;
  }

  .linksContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 16.75rem;
  }
}

/* pc [1024px ~ 1280px) */
@media screen and (--viewport-md) {
  .container {
    width: 62.5rem;
  }

  .aside {
    position: relative;
    box-sizing: border-box;
    width: 18.75rem;
    float: left;
  }

  .main {
    box-sizing: border-box;
    width: 43.75rem;
    float: left;
    margin-left: auto;
  }

  .linksContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 18.75rem;
  }
}

/* x-pc [1280px ~ max) */
@media screen and (--viewport-lg) {
  .container {
    width: 75rem;
  }

  .aside {
    position: relative;
    box-sizing: border-box;
    width: 25rem;
    float: left;
  }

  .main {
    box-sizing: border-box;
    width: 50rem;
    float: left;
    margin-left: auto;
  }

  .linksContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 25rem;
  }
}
