/**
 * personal info
 *
 * @version 0.0.1
 * @author  RoRivers
 * @date    2016/10/12
 *
 */

.root {
  background-color: #f6f7f7;
  opacity: 0;
}

.showed {
  opacity: 1;
  transition: opacity 0.2s ease-in;
}

.container {
  padding: 0 0.5rem 0 1.875rem;
}

.p {
  font-size: 1rem;
  line-height: 1.5;
  color: black;
}

.dt {
  margin-bottom: 0.625rem;
  font-size: 1rem;
  color: black;
}

.dd {
  height: 2rem;
  margin-left: 0;
  line-height: 2;
  font-size: 1rem;
  color: #666;
}

.dd > i {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  line-height: 2;
  vertical-align: top;
  background-position: left;
  background-repeat: no-repeat;
  background-size: 80%;
}

.iconEmail {
  background-image: url(./img/i-mail.png);
}

.iconPhone {
  background-image: url(./img/i-phone.png);
}

.iconQQ {
  background-image: url(./img/i-qq.png);
}

.iconWechat {
  background-image: url(./img/i-wechat.png);
}
